jupyter==1.1.1
numpy==2.3.0
pandas==2.3.0
matplotlib==3.10.3
seaborn==0.13.2
xarray==2025.6.1
Cartopy==0.24.1
scipy==1.16.0
MetPy==1.7.0
netCDF4==1.7.2
scikit-learn==1.7.0
pandarallel==1.6.5
plotly==6.2.0
pyproj==3.7.1